<div class="card chat-box" data-room-secret-id="<%= room.secret_id %>">
  <div class="card-header">
    Room topic: <b><%= room.name %></b>
  </div>

  <div class="card-body">

    <ul class="list-group room-messages">
      <%= render partial: "chat_message", collection: messages, as: :message %>
    </ul>

    <%= form_with model: new_message, id: "new_message_form" do |form| %>
      <div class="input-group submit-form">
        <div class="input-group-prepend">
          <%= form.submit class: "btn btn-outline-secondary", value: "+", data: { disable_with: "+" } %>
        </div>

        <%= form.text_field :content, class: "form-control", placeholder: "message", required: true, autofocus: true %>
      </div>
    <% end %>

  </div>
</div>
