<div class="user-invites">
  <div class="card p-4">
    <div class="row">
      <div class="col-sm-3">
        <%= form_with model: new_guest do |form| %>
          <%= form.text_field :login, placeholder: "guest login", class: "form-control", required: true %>
          <%= form.hidden_field :room_id %>

          <%= form.submit class: "btn btn-primary btn-block", value: "Invite user" %>
        <% end %>
      </div>

      <div class="col-sm-9">
        <h4>Invited guests:</h4>

        <ul id="guests" class="list-group">
          <%= render partial: 'users/user', collection: guests, as: :user, locals: { room_secret_id: room.secret_id } %>
        </ul>
      </div>
    </div>
  </div>
</div>
